@model Web.University.Areas.Enrollments.Detail
@{
    ViewBag.Title = "Enrollment Detail";
}

<div class="page-box d-flex">
    <div class="">
        <div class="page-box-icon"><a href="@Model!.Referer"><i class="page-icon icon-doc"></i></a> Enrollment</div>
        <div class="page-box-name">@Model.EnrollmentNumber <partial name="_Pattern" model='new string("Record Name")' /></div>
    </div>
    <div class=" d-flex">
        <div class=" page-box-data-first">Student<br />@Model.Student</div>
        <div class=" page-box-data">Title<br />@Model.Course</div>
        <div class=" page-box-data"># Quizzes<br />@Model.Quizzes.Count</div>
        <div class=" page-box-data-last">Avg Grade<br />@Model.AvgGrade</div>
    </div>
    <div class="ms-auto">
        <div class="page-box-buttons">
            <a class="btn btn-sm btn-light js-edit" href="/enrollments/edit/@Model.Id">Edit</a>&nbsp;&nbsp;
            <a class="btn btn-sm btn-light js-confirm" href="/enrollments/delete" data-return-url="/enrollments" data-id="@Model.Id" data-word="Delete" related-count="@Model.Quizzes.Count" related-message='Enrollments with quizzes<br />cannot be deleted.'>Delete</a>&nbsp;&nbsp;
        </div>
    </div>
</div>

<div class="tabs">
    <ul class="nav nav-tabs nav-tabs-related">
        <li class='nav-item'><a class='nav-link @(Model.Tab == "details" ? "active" : "")' data-bs-toggle="tab" href="#details">Details</a></li>
        <li class='nav-item position-relative'><a class='nav-link @(Model.Tab == "quizzes" ? "active" : "")' data-bs-toggle="tab" href="#quizzes">Quizzes</a><div class="position-absolute" style="top:6px; right:-7px;"><partial name="_Pattern" model='new string("Related List")' /></div></li>
    </ul>
</div>

<div class="tab-content">

    <div class='tab-pane @(Model.Tab == "details" ? "active" : "")' id="details">
        <div class="tab-pane-row row">

            <div class="col-12 col-md-6">
                <outputField value="EnrollmentNumber" label="Enroll #" pattern="Record name pattern"></outputField>
                <outputField value="Student" pattern="Lookup pattern"></outputField>
                <outputField value="Course" label="Title" pattern="Snapshot pattern"></outputField>
                <outputField value="EnrollDate" label="Enroll Date"></outputField>
            </div>

            <div class="col-12 col-md-6">
                <outputField value="AmountPaid" label="Paid"></outputField>
                <outputField value="Status" pattern="Enumeration pattern"></outputField>
                
                <outputField value="NumDays" label="# Days"></outputField>
                <outputField value="Fee" pattern="Snapshot pattern"></outputField>
                <outputField value="TotalQuizzes" label="# Quizzes" pattern="Rollup pattern"></outputField>
                <outputField value="AvgGrade" label="Avg Grade" pattern="Rollup pattern"></outputField>
            </div>
        </div>
    </div>

    <div class="tab-pane @(Model.Tab == "quizzes" ? "active" : "")" id="quizzes">

        <div class="d-flex bg-white py-10">
            <div class=" tab-pane-heading">@(Model.Quizzes.Count.Pluralize("Quiz","Quizzes"))</div>
            <div class="ms-auto pr-10">
                <a class="btn btn-sm btn-light js-new-quiz" href="javascript:void(0);">New Quiz</a>
            </div>
        </div>

        @await Html.PartialAsync("_QuizList")

    </div>
</div>

@await Html.PartialAsync("_QuizModal");


@section Scripts {

    <script type="text/javascript">

        Web.namespace("Local").Page = (function () {

            var start = function () {

                $('.js-new-quiz').on('click', function (e) {
                    $('#QuizDate').val('');
                    $('#Grade').val('');
                    $('#modal-quiz').modal('show');

                    return true;
                });
            };

            return { start: start };

        })();

        $(function () {
            Web.Local.Page.start();

        });

    </script>
}


